@import "./variables";

.off-canvas-wrapper {
  background-color: $body-background;
}

.section-heading {
  &::before {
    /* I can't get this background-image to work :( */
    // background-image: url(../images/header-leaves.png);
    background-position: center;
    background-size: cover;
    width: 1.35rem;
  }
}
