@import "./variables";

.title-bar {
  background-color: $white;
}

.navbar {
  background-color: $primary-color;
}

.header {
  font-weight: $header-font-weight;
  font-variation-settings: "wght" $header-font-weight;
  font-family: $header-font-family;
}
